.App {
  font-family: sans-serif;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
  width: 100px;
  text-align: center;
}
